[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Oneplus2 Maintainers
[access "refs/heads/*"]
	create = group Oneplus2 Maintainers
	push = +force group Oneplus2 Maintainers
	pushMerge = group Oneplus2 Maintainers
	label-Code-Review = -2..+2 group Oneplus2 Maintainers
	label-Verified = -1..+1 group Oneplus2 Maintainers
